#tsahayluCommentFrame {
    border: none !important;
    width: 60% !important;
    height: 100% !important;
    /*float: right !important;*/
    /*left: 20% !important;*/
    left: 50% !important;
    -webkit-transform: translate(-50%, 0%) !important;
    -moz-transform: translate(-50%, 0%) !important;
    -ms-transform: translate(-50%, 0%) !important;
    -o-transform: translate(-50%, 0%) !important;
    transform: translate(-50%, 0%) !important;
    top: 0 !important;
    z-index: 2147483647 !important;
    position: fixed !important;
    min-width: 800px !important;
    /*width: 800px;*/
    border-left: 1px solid #006699 !important;
    border-right: 1px solid #006699 !important;
    display: none;
}

#tsahayluButtonFrame {
    border: none !important;
    width: 57px !important;
    height: 64px !important;
    z-index: 2147483647 !important;
    position: fixed !important;
    bottom: 32px !important;
    right: 32px !important;
}

#tsahayluOverlayFrame {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    float: right !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 2147483646 !important;
    position: fixed !important;
    opacity: 0.6 !important;
    background: #fff !important;
    display: none;
}